django
gunicorn
psycopg2-binary
django-heroku
django-subscriptions
dj-database-url
django-multiselectfield
django-crispy-forms
selenium
pyvirtualdisplay
celery
requests
emoji
plyer
regex
PyAutoGUI
webdriverdownloader
djangorestframework
dj-rest-auth